<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Angular</title>
</head>

<body ng-app ng-init="name='ivan'">
    <div ng-random-color> hi Ivan!!! </div>
    <input ng-model="name"/>
    <p ng-make-short length = '10' ng-uppercase>qqq qqq qqq qqq qqq qqq qqq</p>
    <p ng-repeat="l in name"></p>
    <button ng-click='test=!test'>Make ivan</button>
    <ul>
      <li ng-make-long="some">One</li>
    </ul>
</body>
<script src = "./js/index.js"></script>

</html>